@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#logindiv {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  background: #eee;
}

select#lang,
input#login {
  font-family: "Poppins", serif;
  padding: 1rem;
  margin: 5px 0;
  cursor: pointer;
}

select#lang {
  font-size: 3rem;
}

select#lang {
  color: #2579be;
}

input#login {
  font-size: 2.5rem;
  color: #25be6a;
}
